/* Home Section  */

#home
{
    display: flex;
    flex-direction: column;
    padding: 0.2rem 12.3rem;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 32rem;
}

#home::before
{
    background: url(background.jpg) no-repeat center/cover;
    opacity: 0.8;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* background-repeat: no-repeat; */
}

#home p, #home h1{
    text-align: center;
    margin: 0.4rem;
    font-family: 'Kalnia', serif;
}
#home .btn
{
    padding: 0.2rem;
    font-family: 'Poppins', sans-serif;
}

/* services section  */
.services
{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* clients section */

.clients
{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* utilities section */
.h-primary
{
    font-size: 3.8rem;
    padding: 0.8rem;
    font-family: 'Kalnia', serif;
    margin-top: 6rem;
}
.h-secondary
{
    font-size: 2.4rem;
    padding: 0.8rem;
    font-family: 'Kalnia', serif;
}

.center{
    text-align: center;
}
.container
{
    display: flex;
}
img{
    border-radius: 0.4rem;
}
p{
    font-family: 'Poppins', sans-serif;
}
.form-group
{
    padding: 0.3rem;
}
